.vvm-button {
  border: none;
  padding: 22px 30px;
  color: #fff;
  font-size: 14px;
  // line-height: 1;
  // display: flex;
  cursor: pointer;
  .vvm-icon {
    padding-right: 2px;
  }
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &::before {
    position: absolute;
    box-sizing: border-box;
    content: ' ';
    pointer-events: none;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    transform: scale(0.5);
  }
  .vvm-loading.vvm-icon {
    color: #fff;
    padding: 0;
  }
  &.vvm-button--disabled {
    opacity: 0.6;
    &:active {
      opacity: 0.6;
      background-color: auto;
    }
  }
  &--default {
    background: $default-color;
  }
  &--success {
    background: $success-color;
  }
  &--warning {
    background: $warning-color;
  }
  &--error {
    background: $error-color;
  }
  &--text {
    padding: 8px 16px;
    &.vvm-button--error {
      color: $error-color;
      background: none;
    }
    &.vvm-button--warning {
      color: $warning-color;
      background: none;
    }
    &.vvm-button--success {
      color: $success-color;
      background: none;
    }
    &.vvm-button--default {
      color: $default-color;
      background: none;
    }
  }
  &--plain {
    background: none;
    position: relative;
    &.vvm-button--default {
      color: $default-color;
      &::before {
        border: 0 solid $default-color;
        border-width: 1px;
      }
      .vvm-loading.vvm-icon {
        color: $default-color;
      }
    }
    &.vvm-button--success {
      color: $success-color;
      &::before {
        border: 0 solid $success-color;
        border-width: 1px;
      }
      .vvm-loading.vvm-icon {
        color: $success-color;
      }
    }
    &.vvm-button--warning {
      color: $warning-color;
      &::before {
        border: 0 solid $warning-color;
        border-width: 1px;
      }
      .vvm-loading.vvm-icon {
        color: $warning-color;
      }
    }
    &.vvm-button--error {
      color: $error-color;
      &::before {
        border: 0 solid $error-color;
        border-width: 1px;
      }
      .vvm-loading.vvm-icon {
        color: $error-color;
      }
    }
  }
  &--round {
    &.vvm-button {
      border-radius: 10em;
    }
    &.vvm-button--plain {
      &::before {
        border-radius: 10em;
      }
    }
  }
  &--large {
    display: block;
    width: 100%;
  }
  &--small {
    padding: 8px 16px;
  }
  &--loading {
    display: flex;
    align-items: center;
  }
}
