.vvm-cell-group{
    >div+div{
        &::after{
            position: absolute;
            box-sizing: border-box;
            content: ' ';
            pointer-events: none;
            top: -50%;
            right: -50%;
            bottom: -50%;
            left: -50%;
            border: 0 solid $B4;
            transform: scale(0.5);
            border-top-width: 1px;
        }
    }
}