@font-face {
  font-family: "vvm-iconfont"; /* Project id 1715398 */
  src: url('//at.alicdn.com/t/font_1715398_urcoddfu3w.woff2?t=1623030749287') format('woff2'),
       url('//at.alicdn.com/t/font_1715398_urcoddfu3w.woff?t=1623030749287') format('woff'),
       url('//at.alicdn.com/t/font_1715398_urcoddfu3w.ttf?t=1623030749287') format('truetype');
}

.vvm-iconfont {
  font-family: "vvm-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconpingfenxingxing:before {
  content: "\e64a";
}

.iconicon-mima:before {
  content: "\e60c";
}

.iconwarning-circle-fill:before {
  content: "\eb2e";
}

.iconadjust:before {
  content: "\e667";
}

.iconcancelwhite:before {
  content: "\e78c";
}

.iconarrow-up-circle:before {
  content: "\e668";
}

.iconarrow-right-circle:before {
  content: "\e669";
}

.iconashbin:before {
  content: "\e66b";
}

.iconbrowse:before {
  content: "\e66d";
}

.iconbottom:before {
  content: "\e66e";
}

.iconcamera:before {
  content: "\e66f";
}

.iconattachment:before {
  content: "\e670";
}

.iconclose:before {
  content: "\e671";
}

.iconcheck-item:before {
  content: "\e672";
}

.iconcomment:before {
  content: "\e673";
}

.iconcomplete:before {
  content: "\e674";
}

.icondelete:before {
  content: "\e675";
}

.icondirection-down:before {
  content: "\e676";
}

.iconloading:before {
  content: "\e677";
}

.iconpdf:before {
  content: "\e67a";
}

.iconpicture:before {
  content: "\e67c";
}

.iconsuccess:before {
  content: "\e67f";
}

.icontime:before {
  content: "\e680";
}

.iconuser:before {
  content: "\e682";
}

.iconupload:before {
  content: "\e683";
}

.iconzoom-out:before {
  content: "\e684";
}

.iconarrow-left-bold:before {
  content: "\e685";
}

.iconarrow-up-bold:before {
  content: "\e686";
}

.iconarrow-down-bold:before {
  content: "\e688";
}

.iconarrow-right-bold:before {
  content: "\e689";
}

.iconselect-bold:before {
  content: "\e68a";
}

.iconroundcheckfill:before {
  content: "\e656";
}

.iconcancel:before {
  content: "\e6dc";
}

.iconradiobuttonselect:before {
  content: "\e6ed";
}

.icon3column:before {
  content: "\e663";
}

.iconcolumn-4:before {
  content: "\e664";
}

.iconadd:before {
  content: "\e665";
}

.iconadd-circle:before {
  content: "\e666";
}

.icongithub:before {
  content: "\e6a9";
}

.icon15:before {
  content: "\e60e";
}

.iconsearch:before {
  content: "\e78b";
}
