$name: '.vvm-';

$size-12: 12px;
$size-14: 14px;
$size-16: 16px;

$toast:10000;
$popup:1000;

/*主题色*/
$default-color:#3778E1;
$error-color:#fa2c19;
$success-color:#1FAF70;
$warning-color:#F9A62B;

/*中性色*/
$B1:#39394D;
$B2:#84849A;
$B3:#BABACE;
$B4:#E0E0EB;
$B5:#F2F2F4;
$B6:#F8F8F8;
$B7: rgb(255, 255, 255);

/*placeholder占位文本色*/
$placeholder-color: #d6d6e2;
/*禁用文本颜色*/
$disabled-color: #c5c5ca;
